<launch>
	<arg name="set_lio_type" default="2"/> <!-- 1 for LIO-SAM
												2 for FAST-LIO2 -->
	<param name="/number_of_robots" value="3"/>
	<arg name="set_respawn_value" default="false"/>  <!-- boolean: true, false -->

	<!--- rviz -->
	<node pkg="rviz" type="rviz" name="dcl_rviz" args="-d $(find dcl_slam)/config/dcl_rviz_front.rviz" />
	<node pkg="dcl_slam" type="dcl_slam_loopVisualizationNode" name="dcl_slam_loopVisualizationNode" output="screen" />
	<!-- 启动ShowGT文件 -->
	<node pkg="dcl_slam" type="dcl_slam_ShowGT" name="show_gt_map_node" output="screen" />
	<!-- <node pkg="NdtMatch" type="ndt_sub" name="ndt_sub" output="screen" /> -->

	<!-- Robot list -->
  	<include file="$(find dcl_slam)/launch/single_ugv_front.launch">
    	<arg name="robotPrefix" value="a"/>
		<arg name="respawnValue" value="$(arg set_respawn_value)"/>
		<arg name="lioType" value="$(arg set_lio_type)"/>
  	</include>

	<include file="$(find dcl_slam)/launch/single_ugv_front.launch">
    	<arg name="robotPrefix" value="b"/>
		<arg name="respawnValue" value="$(arg set_respawn_value)"/>
		<arg name="lioType" value="$(arg set_lio_type)"/>
  	</include>

	<include file="$(find dcl_slam)/launch/single_ugv_front.launch">
    	<arg name="robotPrefix" value="c"/>
		<arg name="respawnValue" value="$(arg set_respawn_value)"/>
		<arg name="lioType" value="$(arg set_lio_type)"/>
  	</include>

	<!-- rosbag player node ->> you need to change bag file here!!! -->
	<!-- <arg name="SYSU_bag" value="$(env HOME)/rosbag/qy3/test_abc_3.bag"/>
		<remap from="/a/a/scan_undistorted" to="/a/scan_undistorted"/>
		<remap from="/b/a/scan_undistorted" to="/b/scan_undistorted"/>
		<remap from="/c/a/scan_undistorted" to="/c/scan_undistorted"/>
		<remap from="/a/a/scan_rgb" to="/a/scan_rgb"/>
		<remap from="/b/a/scan_rgb" to="/b/scan_rgb"/>
		<remap from="/c/a/scan_rgb" to="/c/scan_rgb"/> 
		<remap from="/a/a/odom" to="/a/odom"/>
		<remap from="/b/a/odom" to="/b/odom"/>
		<remap from="/c/a/odom" to="/c/odom"/> 

	<node name="player2" pkg="rosbag" type="play" output="screen" args="-r 1 -q -d 2 $(arg SYSU_bag)"/> -->
	<arg name="SYSU_bag" value="$(env HOME)/rosbag/qy_6_18/2024-06-18-11-21-55.bag"/>

	<node name="player2" pkg="rosbag" type="play" output="screen" args="-r 1 -q -d 2 $(arg SYSU_bag)"/>
	<!-- <arg name="SYSU_bag" value="$(env HOME)/rosbag/qy_7_1/2024-07-01-17-31-58.bag"/>  -->
		<!-- <arg name="SYSU_bag" value="$(env HOME)/rosbag/qy_7_1/2024-07-01-16-54-55.bag"/> 	 -->
	<!-- <node name="player2" pkg="rosbag" type="play" output="screen" args="-r 1 -q -d 2 $(arg SYSU_bag)"/> -->
	


		
	
</launch>
